* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: darkslateblue;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 2%;
}

.counter {
    display: flex;
    justify-content: center;
    gap: 5%;
}

p {
    color: aliceblue;
    font-size: 1.5em;
}

h2 {
    color: aliceblue;
    font-size: 3em;
    margin: 0px;
}

h1 {
    color: aliceblue;
    margin: 5%;
    font-size: 3em;
}

button {
    cursor: pointer;
    margin: 2%;
    margin-top: 5%;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: aliceblue;
    border: none;
    font-size: 1.5em;
    color: darkslateblue;
}
.r:hover {
    background-color: chocolate;
    color: aliceblue;
}
.p:hover {
    background-color: rgb(23, 176, 228);
    color: aliceblue;
}
.s:hover {
    background-color: rgb(114, 197, 31);
    color: aliceblue;
}

.win h1, .lose h1 {
    font-size: 4em;
}

.win h2 {
    color: rgb(114, 197, 31);
}

.lose h2 {
    color: chocolate;
}